res/MoveDConfig.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="MoveDConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="Source"/>
				<xs:element type="xs:string" name="Destination"/>
				<xs:element type="xs:byte" name="RunningFlag"/>
				<xs:element type="xs:byte" name="DoneFlag"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>